!!!
%head
  %title Zero Punctuation
  %meta(charset="utf-8")
  %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  %link(rel="stylesheet" href="style.css")
  %link(rel="apple-touch-icon" href="apple-touch-icon.png")
  %meta(name="apple-mobile-web-app-capable" content="yes")

%h1 Zero Punctuation

#episode-list

  %section.latest
    %h2 Latest

    %ol
      - latest_episodes.each do |episode|
        = render_episode(episode, :detailed)

  %section.archive

    - episodes_by_year.each do |year, episodes|
      %h2= year
      %ol
        - episodes.each do |episode|
          = render_episode(episode)

  %aside.note
    %p
      Built on a rainy weekend by
      <a href="http://twitter.com/mfilej">@mfilej</a>. Works great on your iOS
      device when added to the home screen. Code available on&nbsp;
      <a href="http://github.com/mfilej/zerop">GitHub</a>.

    %p
      This site is in no way associated with The Escapist nor does it
      host any of the linked&nbsp;videos.
