!!!
%head
  %title Zero Punctuation
  %meta(charset="utf-8")
  %link(rel="stylesheet" href="style.css")

%h1 Zero Punctuation

#episode-list

  %section.latest
    %h2 Latest

    %ol
      - latest_episodes.each do |episode|
        = render_episode(episode, :detailed)

  %section.archive

    - episodes_by_year.each do |year, episodes|
      %h2= year
      %ol
        - episodes.each do |episode|
          = render_episode(episode)

  %aside.note
    %p
      This site is in no way associated with the Escapist magazine nor does it
      host any of the linked videos.

%script(src="script.js")
